
#aboutTitle {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #efc732;
	font-size: 40px;
	margin: auto;
	margin-bottom: 60px;
	margin-top: 60px;
	text-shadow: 0px 0px 7px #efc732;
	border: 2px solid #efc732;
	border-radius: 50px 50px 50px 50px ;
	border-spacing: 10px;
	box-shadow: 0px 0px 7px 1px #efc732;
	max-width: 300px;
	max-height: 50px;
	width: auto;
	height: auto;
}

#aboutMeInfo{

    display: flex;
    align-items: center;
    text-align: left;

}

#aboutText{
    height: auto;
    width: auto;
    color: #efc732;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 50px;
}

#aboutText a{   
    color: #efc732;
    text-decoration: none;
    text-shadow: 0px 0px 15px #efc732;
}

#aboutText a:hover{
    text-shadow: 0px 0px 15px #efc732;
    text-decoration: underline;
}