#knowledgeTitle {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #efc732;
	font-size: 40px;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	text-shadow: 0px 0px 7px #efc732;
	border: 2px solid #efc732;
	border-radius: 50px 50px 50px 50px ;
	border-spacing: 10px;
	box-shadow: 0px 0px 7px 1px #efc732;
	max-width: 300px;
	max-height: 50px;
	width: auto;
	height: auto;
    padding: 5px;
}

.knowledgeInfo{
    /* border: 4px yellow solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledgeText{
    font-family: 'Montserrat', sans-serif;
    color: #efc732;
    font-size: 20px;
    height: auto;
    width: 800px;
    padding-left: 20px; 
    padding-bottom: 20px;  
    /* border: 4px yellow solid; */
}

.knowledgeText a{   
    color: #efc732;
    text-decoration: none;
    text-shadow: 0px 0px 15px #efc732;
}

.knowledgeText a:hover{
    text-shadow: 0px 0px 15px #efc732;
    text-decoration: underline;
}

.knowledgeImg{
    height: 300px;
    width: 300px;
    padding-left: 50px;    
}

@media screen and (max-width:667px) {
    .knowledgeText{
        font-size: 10px;
    }

    .knowledgeImg{
        height: 100px;
        width: 100px;
        padding-left: 50px;    
    }
}

@media screen and (max-width:387px) {
    .knowledgeImg{
        height: 15%;
        width: 15%;
        padding-left: 25%;
    }
}