<!-- Extiendo el archivo base para obtener toda esa info default -->
{%extends "../base.html"%} 

{% load static %}

<!-- dentro de style defino mi info personalizada -->
{%block style%}
<link rel="stylesheet" href="{% static 'knowledge/knowledge.css'%}">
{%endblock%}

<!-- dentro de addInfo defino mi info personalizada -->
{%block addInfo%}
<div id="knowledge">
	<h2 id="knowledgeTitle">KNOWLEDGE</h2>
    <div id="knowledgeContainer">
        <div id="knowledgePS" class="knowledgeInfo">
            <p class="knowledgeText">
                PHOTOSHOP: Conocimiento básico para manejar el programa sin problema, algunos de los trabajos realizados con este
                programa estan subidos en la pestaña <a href="mywork.html">MY WORK</a>, con unos 3 años de uso casual y proyectos 
                para algunas empresas locales.
            </p>
            <img class="knowledgeImg" src="{% static 'knowledge/KNImages/KNPS.png'%}" alt="">
        </div>
        
        <div id="knowledgeILL" class="knowledgeInfo">
            <p class="knowledgeText">
                ILLUSTRATOR: Conocimiento básico para manejar el programa sin problema, algunos de los trabajos realizados con este
                programa estan subidos en la pestaña <a href="mywork.html">MY WORK</a>, con unos 2 años de uso casual, sin proyectos específicos
                hasta el momento.
            </p>
            <img class="knowledgeImg" src="{% static 'knowledge/KNImages/KNAI.png'%}" alt="">
        </div>
        <div id="knowledgeC#" class="knowledgeInfo">
            <p class="knowledgeText">
                C#: Conocimiento básico para manejar el lenguaje sin problema, algunos de los trabajos realizados con este
                lenguaje estan subidos en la pestaña <a href="mywork.html">MY WORK</a>, con unos 3 años de uso casual, con gran variedad de
                proyectos personales con el motor de videojuegos unity.
            </p>
            <img class="knowledgeImg" src="{% static 'knowledge/KNImages/KNCsharp.png'%}" alt="">
        </div>
        <div id="knowledgeUNITY" class="knowledgeInfo">
            <p class="knowledgeText">
                UNITY: Conocimiento básico para manejar el programa sin problema, algunos de los trabajos realizados con este
                programa estan subidos en la pestaña <a href="mywork.html">MY WORK</a>, con unos 3 años de uso casual, con gran variedad de
                proyectos personales con el lenguaje C#.
            </p>
            <img class="knowledgeImg" src="{% static 'knowledge/KNImages/KNUNITY.png'%}" alt="">
        </div>
        <div id="knowledgeJS" class="knowledgeInfo">
            <p class="knowledgeText">
                JavaScript: Conocimiento básico para manejar el lenguaje sin problema, algunos de los trabajos realizados con este
                lenguaje estan subidos en la pestaña <a href="mywork.html">MY WORK</a>, con un año de uso casual, con varios proyectos personales y
                un proyecto oficial.
            </p>
            <img class="knowledgeImg" src="{% static 'knowledge/KNImages/KNJS.png'%}" alt="">
        </div>
        <div id="knowledgeHTML" class="knowledgeInfo">
            <p class="knowledgeText">
                HTML: Conocimiento básico para manejar el lenguaje sin problema, algunos de los trabajos realizados con este
                lenguaje estan subidos en la pestaña <a href="mywork.html">MY WORK</a>, con un año de uso casual, con varios proyectos personales y
                un proyecto oficial.
            </p>
            <img class="knowledgeImg" src="{% static 'knowledge/KNImages/KNHTML.png'%}" alt="">
        </div>
        <div id="knowledgeCSS" class="knowledgeInfo">
            <p class="knowledgeText">
                CSS: Conocimiento básico para manejar el lenguaje sin problema, algunos de los trabajos realizados con este
                lenguaje estan subidos en la pestaña <a href="mywork.html">MY WORK</a>, con un año de uso casual, con varios proyectos personales y
                un proyecto oficial.
            </p>
            <img class="knowledgeImg" src="{% static 'knowledge/KNImages/KNCSS.png'%}" alt="">
        </div>
    </div>
	
</div>	
{%endblock%}	