
#resButton{
    display: none;
}
@media  screen and (max-width:710px) {
  
    #RightNav li a {
        font-size: 15px;
        padding: 0px 0px 15px 15px;
    }  

    #aboutTitle {
        width: 50%;
        height: 50%;
        font-size: 20px;
    }

    #workTitle{
        width: 50%;
        height: 50%;
        font-size: 20px;
    }

    #workProgText{
        font-size: 15px;
    }

    #knowledgeTitle{
        width: 50%;
        height: 50%;
        font-size: 20px;
    }
    #aboutText{
        font-size: 15px;
    }

    
}


@media  screen and (max-width:425px) {
    #emojisglow{
        width: 50%;
        height: 50%;
    }

    #RightNav{
        display: none;
    }
    #resButton{
        display: flex;
        height: 50px;
        width: 50px;
        background-image: url(./images/three-dots-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-color: transparent;
        margin: 5px;
        padding: 5px;
        border-style: none;
        rotate: 0deg;
        transition: 0.7s;
    }
    
    #resButton:hover {
        rotate: 90deg;
        cursor: pointer;
    }
}