#navBarRes{
    display: none;
}

#resButton{
    display: none;
}
@media  screen and (max-width:710px) {
    #navBar{
        display: none;
    }
    #navBarRes{
        display: flex;
        position: sticky;
	    top: 0;
	    display: flex;
	    height: 80px;
	    width: auto;
	    background-image: url(./navImage.png);
	    background-repeat: no-repeat;
	    align-items: center;
	    justify-content: space-between;
    }  
    #RightNav li a {
        font-size: 15px;
        text-decoration: none;
        padding: 0px 0px 15px 15px;
        font-family: 'Montserrat', sans-serif;
        color: #efc732;
        text-shadow: 0px 0px 7px #efc732;
    }  

    #aboutTitle {
        font-size: 20px;
    }

    #workText{
        font-size: 20px;
    }

    #workProgText{
        font-size: 15px;
    }

    #knowledgeTitle{
        font-size: 20px;
    }
}

@media  screen and (max-width:425px) {
    #RightNav{
        display: none;
    }
    #resButton{
        display: flex;
        height: 50px;
        width: 50px;
        background-image: url(./images/three-dots-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-color: transparent;
        padding: 5px;
        border-style: none;
        transition: 0.7s;
    }
    
    #resButton:hover {
        rotate: 90deg;
        cursor: pointer;
    }
}